@import url("reset.css");

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

:root {
  --primary-blue: rgb(55, 138, 245);
  --primary-hover-blue: rgb(54, 119, 204);
}

.container {
  min-height: 100%;

  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar actionbar"
    "sidebar maincontent";
  grid-template-columns: 300px minmax(0px, 1fr);
  grid-template-rows: auto auto 1fr;
}

.sidebar {
  background-color: var(--primary-blue);
  padding: 16px;
  position: relative;
  
  grid-area: sidebar;
  
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}

.sidebar__logo {
  display: flex;
  gap: 16px;
  align-items: center;
  
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.sidebar__logo img {
  width: 48px;
  height: 48px;
  filter: invert();
}

.sidebar__options-group {
  width: 100%;
}
.sidebar__link {
  display: flex;
  align-items: center;
  gap: 16px;

  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.sidebar__link:hover {
  text-decoration: underline;
}

.label {
  text-overflow: ellipsis;
  min-width: 0px;
  overflow: hidden;
}

.sidebar__link img {
  width: 48px;
  height: 48px;
  padding: 12px;
  filter: invert();
}

.header {
  grid-area: header;
  align-self: start;

  padding: 16px 32px;

  min-width: 0px;
}

.header__container {
  align-items: center;
  display: flex;
}

.header__search-icon {
  width: 24px;
  height: 24px;
}
.header__search-icon:not(:last-child) {
  margin-right: 8px;
}
.header__searchbox {
  border: none;
  background-color: rgb(219, 225, 228);
  outline: none;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 999px;
  width: 480px;
  min-width: 120px;
}
.header__searchbox:not(:last-child) {
  margin-right: auto; 
}

.header__searchbox:focus {
  outline: black 3px solid;
}
.header__ring-icon {
  width: 24px;
  height: 24px;
}
.header__ring-icon:not(:first-child) {
  margin-left: 24px;
}
.header__ring-icon:not(:last-child) {
  margin-right: 24px;
}
.header__profile-photo {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.header__profile-photo:not(last-child) {
  margin-right: 32px;
}
.header__profile-name {
  font-size: 24px;
  font-weight: 600;
}

.action-bar {
  grid-area: actionbar;

  display: flex;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0px 2px 5px #ececec;
}
.action-bar__profile-image {
  border-radius: 50%;
  width: 64px;
  height: 64px;

  object-fit: cover;
}
.action-bar__profile-image:not(:last-child) {
  margin-right: 24px; 
}
.action-bar__text:not(:last-child) {
  margin-right: auto;
}
.action-bar__text > div {
  font-weight: 600;
  margin-right: auto;
}
.action-bar__text > div:not(:last-child) {
  margin-bottom: 8px;
}
.action-bar__greeting {
  font-size: 12px;
}
.action-bar__profile-name {
  font-size: 26px;
}
.action-bar__button {
  background-color: var(--primary-blue);
  border: none;
  border-radius: 999px;
  color: #fff;
  width: 100px;
  padding-block: 12px;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.2s;
  min-width: 60px;
  overflow:hidden;
}
.action-bar__button:first-of-type {
  margin-left: 32px;
}
.action-bar__button:hover {
  background-color: var(--primary-hover-blue);
}
.action-bar__button:active {
  background-color: rgb(252, 240, 2);
}
.action-bar__button:not(:last-child) {
  margin-right: 32px;
}

.main-content {
  grid-area: maincontent;

  display: grid;
  grid-template-areas: "main side";
  grid-template-columns: 1fr 300px;
  background-color: #ececec;
  padding: 16px;
  gap: 16px;
}
.your-projects-setcion {
  grid-area: main;

}
.your-projects-setcion__title {
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 16px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
}
.card {
  background-color: coral;
  padding: 32px 16px;
  border-left: rgb(255, 200, 0) 8px solid;
  border-radius: 8px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__title {
}
.card__text {
  flex-grow: 1;
}
.card__buttons {
  width: fit-content;
  margin-left: auto;
}

.card__buttons > button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: unset;
  padding: 6px;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.card__buttons > button:hover {
  background-color: rgba(128, 128, 128, 0.389);
}
.card__buttons > button:not(:last-child) {
  margin-right: 8px;
}
.card__to-favorites {
  background-image: url(../img/star-plus-outline.svg);
}
.card__show {
  background-image: url(../img/eye-plus-outline.svg);
}
.card__fork {
  background-image: url(../img/source-fork.svg);
}